sphinx>=7.0
sphinx_rtd_theme
sphinx-autoapi
nbsphinx
ipykernel # Required by nbsphinx to execute notebooks
myst-parser
sphinx-copybutton  # Adds copy buttons to code blocks
sphinx-tabs        # Support for tabbed content
sphinxcontrib-bibtex  # Bibliography support
